* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Change default html font size from 16px to 10px
  so calculations are easier */
html {
  font-size: 62.5%;
}

/* Always takes parent html root (16px always) */
p {
  font-size: 1.6rem;
}
